@font-face {
	font-family: 'PunkboyRegular';
	src: url('../fonts/punkboy_tbs.ttf');
}

body {
	font-family: Georgia, Times, serif;
	/*background: #e0e3da url('../images/cork-wallet.png') repeat;*/
	background: #d8e9ef;
	color: #454552;
}

.color-main-1 {
	color: #e85a71;
}
.color-main-2 {
	color: #4ea1d3;
}

.font-punkboy {
	font-family: 'PunkboyRegular', Arial, Sans-serif;
}
.font-montserrat {
	font-family: Montserrat, Georgia, serif;
}

